<?xml version="1.0" ?>
<config>
    <modules>
        <Trollweb_Dibs>
            <version>1.1.3</version>
        </Trollweb_Dibs>
    </modules>

    <frontend>
        <routers>
            <dibs>
                <use>standard</use>
                <args>
                    <module>Trollweb_Dibs</module>
                    <frontName>dibs</frontName>
                </args>
            </dibs>
        </routers>
        <layout>
            <updates>
                <dibs>
                    <file>dibs.xml</file>
                </dibs>
            </updates>
        </layout>
        <translate>
            <modules>
                <Trollweb_Dibs>
                    <files>
                        <default>Trollweb_Dibs.csv</default>
                    </files>
                </Trollweb_Dibs>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Trollweb_Dibs>
                    <files>
                        <default>Trollweb_Dibs.csv</default>
                    </files>
                </Trollweb_Dibs>
            </modules>
        </translate>
    </adminhtml>

    <global>
        <blocks>
            <dibs>
                <class>Trollweb_Dibs_Block</class>
            </dibs>
        </blocks>
        <helpers>
            <dibs>
                <class>Trollweb_Dibs_Helper</class>
            </dibs>
        </helpers>
        <models>
            <dibs>
                <class>Trollweb_Dibs_Model</class>
            </dibs>
        </models>
        <resources>
            <dibs_setup>
                <setup>
                    <module>Trollweb_Dibs</module>
                    <class>Trollweb_Dibs_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dibs_setup>
            <dibs_write>
                <use>core_write</use>
            </dibs_write>
            <dibs_read>
                <use>core_read</use>
            </dibs_read>
        </resources>

        <events>
            <order_cancel_after>
                <observers>
                    <dibs>
                        <type>singleton</type>
                        <class>dibs/dibspw_observer</class>
                        <method>order_cancel_after</method>
                    </dibs>
                </observers>
            </order_cancel_after>
            <sales_order_load_after>
                <observers>
                    <dibs>
                        <type>singleton</type>
                        <class>dibs/dibspw_observer</class>
                        <method>sales_order_load_after</method>
                    </dibs>
                </observers>
            </sales_order_load_after>
            <core_config_data_save_after>
                <observers>
                    <dibs>
                        <class>dibs/dibspw_observer</class>
                        <method>core_config_data_save_after</method>
                    </dibs>
                </observers>
            </core_config_data_save_after>
        </events>
    </global>

    <default>
        <payment>
            <dibspw>
                <active>1</active>
                <model>dibs/dibspw</model>
                <order_status>processing</order_status>
                <title>DIBS</title>
                <cctypes>AMEX,VISA,MC,DIN</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <redirect_text>Du vil bli sendt til en sikker side hos Dibs for inntasting av kredittkort-detaljene dine når du har fullført bestillingen.</redirect_text>
                <dibs_logo>blue.jpg</dibs_logo>
                <test_mode>1</test_mode>
                <cart_tax_type>VATAMOUNT</cart_tax_type>
                <language>nb_NO</language>
                <mac_key backend_model="adminhtml/system_config_backend_encrypted" />
                <send_new_order_email>1</send_new_order_email>
                <debug>0</debug>
                <timeout>-1</timeout>
            </dibspw>
        </payment>
    </default>

    <crontab>
        <jobs>
            <dibspw_timeout>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dibs/dibspw_observer::cancelOrdersAfterTimeout
                    </model>
                </run>
            </dibspw_timeout>
        </jobs>
    </crontab>

</config>
